@model Sample.Models.ViewModel.Inquiry.InputViewModel
@using Sample.Defines

@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "About";
}
<h2>お問い合わせフォーム</h2>

<p>お問い合わせフォームにご記入ください</p>
@using (Html.BeginForm())
{
    <table class="table table-bordered">
        <tr>
            <th>名前</th>
            <td>
                @*テキストフィールド*@
                @Html.TextBoxFor(model => model.Name)
                <div class="error-message">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                @*ラジオボタン*@
                @Html.RadioButtonFor(model => model.Sex, Sex.Man)
                @Sex.Man.GetLabel()
                @Html.RadioButtonFor(model => model.Sex, Sex.Woman)
                @Sex.Woman.GetLabel()
                <div class="error-message">
                    @Html.ValidationMessageFor(model => model.Sex)
                </div>
            </td>
        </tr>
        <tr>
            <th>年齢</th>
            <td>
                @*セレクトボックス*@
                @Html.EnumDropDownListFor(
                    model => model.Age,
                    new { @class = "form-control" })
                <div class="error-message">
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
            </td>
        </tr>
        <tr>
            <th>お問い合わせ種別</th>
            <td>
                @*チェックボックス *@
                @* checkboxのvalueでstringを使用したい場合はヘルパーを使用せずinputタグで実装 *@
                <input type="checkbox" name="InquiryTypes" value="@InquiryType.AboutProductFailure" @(Model.InquiryTypes.Contains(InquiryType.AboutProductFailure) ? "checked='checked'" : "")> @InquiryType.AboutProductFailure.GetLabel()<br>
                <input type="checkbox" name="InquiryTypes" value="@InquiryType.BeforeSaleProduct" @(Model.InquiryTypes.Contains(InquiryType.BeforeSaleProduct) ? "checked='checked'" : "")> @InquiryType.BeforeSaleProduct.GetLabel()<br>
                <input type="checkbox" name="InquiryTypes" value="@InquiryType.OnSaleProduct" @(Model.InquiryTypes.Contains(InquiryType.OnSaleProduct) ? "checked='checked'" : "")> @InquiryType.OnSaleProduct.GetLabel()<br>
                <div class="error-message">
                    @Html.ValidationMessageFor(model => model.InquiryTypes)
                </div>
            </td>
        </tr>

        <tr>
            <th>お問い合わせ内容</th>
            <td>
                @*テキストエリア*@
                @Html.TextAreaFor(model => model.Content)
                <div>
                    @Html.ValidationMessageFor(model => model.Content)
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="送信">
}
